.wrap{
  width: 100%;
  font-family: 'Montserrat', sans-serif, 'yugothic',
    'ヒラギノ角ゴ pro',
    'hiragino kaku gothic pro',
    'メイリオ',
    meiryo,
    sans-serif;;
}

.header{
  width: 650px;
  margin: 20px auto;
  font-size: 24px;
}

.header__menu{
  display: none;
}

.header__sns{
  display: flex;
}

@media screen and (max-width: 768px) {
  .header{
    display: flex;
    justify-content: space-between;
    width: 480px;
  }
  .header__menu{
    display: block;
    width: 28px;
    height: 18px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }

  .header__menu-middle{
    width: 28px;
    height: 7px;
    border-bottom: 4px solid black;
  }
}

@media screen and (max-width: 480px){
  .header{
    justify-content: space-between;
    width: 360px;
  }
}

.header p{
  margin-left: 8px;
  margin-right: 8px;
}

.ttl{
  width: 650px;
  border-bottom: 10px solid black;
  display: flex;
  margin: 40px auto;
}

@media screen and (max-width: 768px) {
  .ttl {
    width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .ttl {
    width: 360px;
  }
}

.ttl__left{
  width: 70%;
  margin-bottom: 20px;
  border-right: 10px solid black;
}

@media screen and (max-width:768px) {
  .ttl__left {
    margin-bottom: 10px;
    padding-top: 20px;
  }
}

@media screen and (max-width:480px){
  .ttl__left{
    width: 100%;
    border-right: none;
  }
}

.ttl__left div{
  text-align: center;
}

.ttl__left a{
  text-decoration: none;
  color: black;
  font-size: 56px;
  font-weight: 100;
}

@media screen and (max-width:768px) {
  .ttl__left a {
    font-size: 48px;
    font-weight: 400;
  }
}

.ttl__left p{
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  margin-top: 24px;
  padding-bottom: 20px;
}

.ttl__right{
  width: 30%;
  font-size: 52px;
  position: relative;
}

@media screen and (max-width:480px){
  .ttl__right{
    display: none;
  }
}

.ttl__right-month{
  padding-top: 5px;
  padding-left: 30px;
}

@media screen and (max-width:768px) {
  .ttl__right-month {
    padding-top: 5px;
    padding-left: 20px;
  }
}

.ttl__right-date{
  text-align: right;
  padding-right: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width:768px) {
  .ttl__right-date {
    padding-right: 10px;
    padding-bottom: 0px;
  }
}

.ttl__right-border{
  position: absolute;
  top: 60px;
  left: 60px;
  border-left: 1px solid black;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

@media screen and (max-width:768px){
  .ttl__right-border{
    top: 48px;
    left: 48px;
  }
}

.main{
  width: 100%;
}

.main__img{
  width: 800px;
  margin: 50px auto;
  position: relative;
}

@media screen and (max-width:768px){
  .main__img{
    width: 480px;
  }
}

@media screen and (max-width:480px){
  .main__img {
      width: 360px;
    }
}

.main__img img{
  width: 100%;
}

.main__img-nav{
  border: 2px solid black;
  width: 650px;
  margin: 0 auto;
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translate(-50%,0);
  background-color: white;
}

@media screen and (max-width: 768px) {
  .main__img-nav {
    display: none;
  }
}

.main__img-nav-list{
  display: flex;
  justify-content: center;
  padding: 16px;
}

.main__img-nav-list a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.main__img-nav-list a:not(:last-child){
  margin-right: 16px;
}

.main__img-txt{
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
}

@media screen and (max-width:480px) {
  .main__img-txt {
    width: 300px;
    margin: 20px auto;
  }
  .main__img-txt p{
    margin: 14px 0px;
    line-height: 18px;
  }
}

.main__img-txtsmall{
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
  background-color: rgba(255,255,255,0.6);
  padding: 16px 12px;
  position: absolute;
  bottom: 25%;
  right: -40px;
}

@media screen and (max-width:480px){
  .main__img-txtsmall{
    padding: 5px 5px;
    bottom: 45%;
    right: 0%;
  }
}

.main__information{
  width: 650px;
  margin: 60px auto;
  text-align: center;
}

@media screen and (max-width:768px){
  .main__information{
    width: 480px;
  }
}

@media screen and (max-width:480px) {
  .main__information {
    width: 360px;
  }
}

.main__information-ttl{
  border-bottom: 10px solid black;
  text-align: left;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}

.main__information-img{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width:480px) {
  .main__information-img {
    padding-right: 30px;
  }
}

.main__information-img-item{
  width: 30%;
  position: relative;
}

@media screen and (max-width:768px){
  .main__information-img-item{
    width: 40%; 
    margin-bottom: 50px;
  }
}

.main__information-img-item img{
  width: 100%;
  height: 200px;
}

.main__information-img-item iframe {
  width: 100%;
  height: 200px;
}

.main__information-img-item-date{
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.main__information-img-item-date p:first-child{
  padding-top: 5px;
  text-align: left;
  padding-left: 5px;
}
.main__information-img-item-date p:last-child {
  margin-top: 5px;
  text-align: right;
  padding-right: 5px;
}

.main__information-img-item-txt{
  margin-top: 10px;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
}

.main__information-btm{
  margin: 30px 0 0 auto;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px 30px 10px 20px;
  width: 80px;
}

@media screen and (max-width: 768px){
  .main__information-btm{
    margin: 0px auto;
  }
}

.main__information-btm a{
  text-decoration: none;
  color: black;
}

.main__access {
  width: 650px;
  margin: 60px auto;
  text-align: center;
}

@media screen and (max-width: 768px){
  .main__access{
    width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .main__access {
    width: 360px;
  }
}

.main__access-ttl {
  border-bottom: 10px solid black;
  text-align: left;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}

.main__access-map {
  margin: 60px auto;
  width: 500px;
  border: 2px black solid;
}

@media screen and (max-width:768px){
  .main__access-map{
    width: 400px;
  }
}

@media screen and (max-width:480px) {
  .main__access-map {
    width: 360px;
  }
}

.main__access-map iframe{
  width: 100%;
}

.main__access-table{
  width: 500px;
  margin: 0 auto;
  font-size: 14px;
}

@media screen and (max-width:768px) {
  .main__access-table {
    width: 400px;
  }
}

@media screen and (max-width:480px){
  .main__access-table{
    margin: 0px 20px;
  }
}

.main__access-table-th{
  width: 200px;
  text-align: left;
  line-height: 36px;
}

@media screen and (max-width:480px) {
  .main__access-table-th{
    width: 100px;
  }
}

.main__access-table-td{
  width: 300px;
  text-align: left;
}

.main__form {
  width: 650px;
  margin: 0px auto;
  border-bottom: 10px solid black;
}

@media screen and (max-width:768px) {
  .main__form {
    width: 480px;
  }
}

@media screen and (max-width:480px) {
  .main__form {
    width: 360px;
  }
}

.main__form-ttl {
  border-bottom: 10px solid black;
  text-align: left;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}

.main__form-item:not(:last-child){
  margin: 24px 75px;
  width: 500px;
  font-size: 14px;
  font-weight: bold;
}

.main__form-item:first-child{
  margin-top: 48px;
}

@media screen and (max-width: 768px) {
  .main__form-item:not(:last-child) {
    width: 480px;
    margin: 24px 10px;
  }
}

.main__form-item:last-child{
  margin: 0 75px;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 768px){
  .main__form-item:last-child {
      margin: 0px 10px;
}
}

.main__form-item-p:after{
  content: "*";
  font-size: 12px;
}

.main__form-item input{
  width: 500px;
  margin-top: 5px;
  height: 24px;
}

@media screen and (max-width:768px) {
  .main__form-item input {
    width: 432px;
  }
}

@media screen and (max-width:480px) {
  .main__form-item input {
    width: 352px;
  }
}

.main__form-item textarea{
  width: 500px;
  margin-top: 5px;
  height: 144px;
  margin-bottom: 5px;
}

@media screen and (max-width:768px) {
  .main__form-item textarea {
    width: 432px;
  }
}

@media screen and (max-width:480px) {
  .main__form-item textarea {
    width: 352px;
  }
}

.main__form-privacy{
  width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .main__form-privacy{
  width: 480px;
  margin-left: 10px;
  }
}

.main__form-privacy img{
  width: 60%;
}

.main__form-submit{
  margin: 70px auto;
  width: 650px;
  text-align: center;
}

@media screen and (max-width:768px) {
  .main__form-submit{
    width: 480px;
  }  
}

@media screen and (max-width:480px) {
  .main__form-submit {
    width: 360px;
  }
}

.main__form-submit input{
  padding: 6px 20px;
  font-size: 14px;
  border: 2px solid black;
  background-color: white;
} 

.main__arrow{
  width: 18px;
  height: 18px;
  margin: 60px auto;
  border-top:8px solid black;
  border-left: 8px solid black;
  transform: rotate(45deg);
}

.main__footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px 0;
}

.main__footer-top{
  font-size: 26px;
}

.main__footer-mid{
  font-size: 14px;
  margin-top: 20px;
}

.main__footer-btm {
  font-size: 14px;
  margin-top: 20px;
}