.wrap{
  font-family: 'Montserrat','ヒラギノ角ゴ ProN W3'
      sans-serif;
  color: #3f3a39;
}

.header{
  margin: 30px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerForTablet{
  display: none;
}

.header__ttl{
  margin-left: 20px;
}

.header__ttl-name{
  font-size: 25px;
  font-weight: bold;
}

.header__ttl-txt{
  margin-top: 10px;
  font-weight: light;
  color: #3f3a39;
}

.header__contact{
  margin-right: 28px;
}

.header__contact-tel{
  display: flex;
  font-family: 'Montserrat';
  font-weight: lighter;
}

.header__contact-tel i{
  margin-right: 5px;
}

.header__contact-btn{
  display: block;
  background-color: #12cedd;
  margin-top: 5px;
  border-radius: 5px;
  height: 36px;
  text-decoration: none;
}

.header__contact-btn p{
  padding: 11px 0px;
  color: white;
  font-size: 14px;
  text-align: center;
}

.main__menu{
  margin-top: 30px;
  background-color: #ff9b9b;
}

.main__menu-list{
  display: flex;
  font-size: 14px;
  text-decoration: none;
  justify-content: center;
}

.main__menu-item{
  text-decoration: none;
  color: white;
  padding: 14px 0px;
}

.main__menu-item:not(:last-child){
  margin-right: 32px;
}

.main__img{
  width: 100%;
  margin-top: 20px;
}

.main__img img{
  width: 100%;
}

.main__time{
  margin-top: 80px;
  margin-left: 20%;
}

.main__time-ttl{
  line-height: 24px;
  font-size: 14px;
}

.main__time-xx-ttl{
  margin-top: 36px;
  font-size: 14px;
  font-weight: bold;
}

.main__time-time-txt{
  font-size: 14px;
  margin: 14px 0;
}

.main__time-time-btm{
  font-size: 10px;
}

.main__time-table table{
  border: 1px solid black;
  margin-top: 20px;
}

.main__time-table td{
  border: 1px black solid;
  text-align: center;
}

.main__time-table th {
  border: 1px black solid;
  padding: 10px 60px;
}

.main__inf{
  margin-top: 48px;
  background: #f7f7f7;
  padding-top: 80px;
  padding-bottom: 80px;
}

.main__xx-ttl{
  font-size: 24px;
  text-align: center;
}

.main__xx-ttl span{
  border-bottom: 5px solid pink;
  padding-bottom: 4px;
}

.main__inf-item{
  margin-top: 40px;
}

.main__inf-itemFT{
  display: none;
}

.main__inf-item ul{
  margin: 40px auto;
}

.main__inf-item-line{
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 60px;
}

.main__inf-item-border{
  border: 0.5px dashed #ccc;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}


.main__inf-item-line:nth-child(5) {
  margin-left: -28px;
}

.main__inf-item-line:first-child {
  margin-left: -14px;
}

.main__inf-item-line a{
  text-decoration: none;
  color: #3f3a39;
  margin-left: 20px;
}

.main__xx-btm{
  margin-right: 20%;
  text-align: right;
}

.main__xx-btm a{
  text-decoration: none;
  color: #12cedd;
  font-size: 20px;
}

.main__intro{
  margin-top: 80px;
  padding-bottom: 100px;
}

.main__intro-img{
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 96px;
}

.main__intro-img a{
  width: 212px;
  background-color: #f7f7f7;
  height: 212px;
  text-align: center;
}

.main__intro-img a:not(:first-child){
  margin-left: 24px;
}

.main__intro-img img{
  width: 188px;
  margin:  44px 12px;
}

.main__access{
  background-color: #f7f7f7;
  padding-top: 80px;
}

.main__access-map{
  margin: 48px auto 0px auto;
  width: 720px;
}

.main__access-map iframe{
  width: 100%;
}

.main__access-table{
  background-color: white;
  width: 720px;
  margin: 0px auto 60px auto;
  line-height: 72px;
  font-size: 14px;
  color: #3f3a39;
}

.main__access-table th{
  width: 240px;
  text-align: center;
  font-weight: lighter;
}

.main__access-table tr{
  border-bottom: 1px solid #f7f7f7;
}

.main__access-btm{
  text-align: right;
  margin-right: 28px;
  padding-bottom: 10px;
}

.main__access-btm span{
  background-color: #12cedd;
  padding: 10px 20px;
  color: white;
  font-size: 12px;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 10px;
}

.footer__upper{
  background-color: #494949;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 10px 0px;
  font-family: 'Montserrat',sans-serif;
  font-weight: lighter;
}

.footer__upper span:not(:first-child){
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid white;
}

.footer__btm{
  background-color: #333333;
  color: white;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 36px;
}

.footer__btm p:first-child{
  font-size: 25px;
}

.footer__btm p:last-child{
  font-size: 12px;
  margin-top: 12px;
}










/**
 *[tablet] layout
 */
@media screen and (max-width: 768px){
    .header {
      display: none;
    }

    .headerForTablet{
      display: block;
    }

    .headerFT{
      height: 60px;
      display: flex;
      justify-content: space-between;
      background-color: #f7f7f7;
    }

    .headerFT__left{
      background-color: #ff9b9b;
      width: 60px;
      text-align: center;
      color: white;
    }

    .headerFT__left-upper{
      height: 16px;
      width: 32px;
      border-top: 4px solid white;
      border-bottom: 4px solid white;
      position: relative;
      margin: 12px auto 4px;
    }

    .headerFT__left-upper span{
      position: absolute;
      top: 6px;
      left: 0px;
      content: "";
      height: 10px;
      width: 32px;
      border-top: 4px solid white;
    }

    .headerFT__left-btm{
      font-size: 10px;
    }

    .headerFT__right{
      display: flex;
    }
  
    .header__ttl {
      text-align: center;
      margin-top: 48px;
      margin-bottom: 36px;
    }

    .header__ttl-name {
      font-size: 25px;
      font-weight: bold;
    }
  
    .header__ttl-txt {
      margin-top: 16px;
      font-weight: light;
      color: #3f3a39;
    }
  
    .header__contact-tel {
      display: flex;
      font-family: 'Montserrat';
      font-weight: lighter;
      margin: auto 10px auto 0px;
    }
  
    .header__contact-btn {
      display: block;
      background-color: #12cedd;
      margin: auto 10px auto 0px;
      border-radius: 5px;
      height: 36px;
      text-decoration: none;
    }
  
    .header__contact-btn p {
      padding: 11px 10px;
      color: white;
      font-size: 14px;
      text-align: center;
    }
  
    .main__menu {
      display: none;
    }

    .main__time {
      margin-top: 80px;
      margin-left: 4%;
    }
  
    .main__time-table table {
      border: 1px solid black;
      margin-top: 20px;
      width: 92%;
    }

    .main__inf-item{
      display: none;
    }

    .main__inf-itemFT{
      display: block;
      margin-top: 36px;
      margin-bottom: 48px;
    }

    .main__inf-itemFT-line{
      border-bottom: 0.5px dashed #ccc;
      margin: 24px 4% 0px 4%;
    }

    .main__inf-itemFT-line div:first-child{
      font-size: 12px;
    }

    .main__inf-itemFT-line a {
      font-size: 14px;
      text-decoration: none;
      color: #3f3a39;
    }

    .main__inf-itemFT-line div:last-child {
      padding-top: 12px;
      padding-bottom: 20px;
    }

    .main__xx-btm {
      margin-right: 4%;
      text-align: right;
    }
  
    .main__xx-btm a {
      text-decoration: none;
      color: #12cedd;
      font-size: 20px;
    }
  
    .main__intro {
      padding-bottom: 100px;
    }
  
    .main__intro-img :not(:first-child) {
      display: none;
      margin: 36px auto 60px auto;
    }


    .main__intro-img a {
      width: 90%;
      background-color: #f7f7f7;
      text-align: center;
      height: 600px;
    }

    .main__intro-img img {
      width: 80%;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  
    .main__access-map {
      margin: 48px auto 0px auto;
      width: 90%;
    }
  
    .main__access-table {
      width: 90%;
    }
  }




/**
  *[mobile] layout
  */
@media screen and (max-width:480px){
      .main__time-table table {
        border: 1px solid black;
        margin-top: 20px;
        font-size: 12px;
        margin: 20px auto 0px 0px;
        width: 300px;
      }

.main__time-table td {
  border: 1px black solid;
  text-align: center;
  width: 100px;
}

.main__time-table th {
  border: 1px black solid;
  padding: 10px;
  width: 100px;
}

      .main__intro-img a {
        width: 90%;
        background-color: #f7f7f7;
        text-align: center;
        height: 360px;
      }
    
      .main__intro-img img {
        width: 80%;
        padding-top: 60px;
        padding-bottom: 60px;
      }
  
      .main__access-table {
        width: 90%;
      }

      .main__access-table th{
        width: 20%;
      }

      .main__access-table td{
        margin-left: 60px;
      }
}
